mixin feature(icon, title, msg)
    .col-md-3
        span(class="icon icon-#{ icon }")
        h3 #{ title }
        p #{ msg }

.container
   h3.subtitle How it works?
   .row#messaging
        +feature('profile',"Build your portfolio", "Our team has intimate knowledge of what companies are looking for and will help guide you in building a stunning portfolio.")
        .col-md-1
            i.icon-arrow-right.nextarrow
        +feature('user-tie','Interview with top companies', "The world's top companies are looking for you.")
        .col-md-1
            i.icon-arrow-right.nextarrow
        +feature('user-tie','Land an awesome job', "Start working at your awesome dream job!")
