mixin feature(icon, title, msg)
    .col-md-4
        span(class="icon icon-#{ icon }")
        h3 #{ title }
        p #{ msg }

.container
   .row#messaging
        .col-md-2
        +feature('profile',"Portfolio building", "Our team has the knowledge and experience to help guide you in building a portfolio that will grab any company's attention.")
        +feature('user-tie','Warm introductions', "What's the use preparing you for interviews you'll never have? We help connect you to the best companies in tech.")
